/cassandra-unit/target
/cassandra-unit/.classpath
/cassandra-unit/.project
/cassandra-unit/.settings
/cassandra-unit-examples/target
/cassandra-unit-examples/.classpath
/cassandra-unit-examples/.project
/cassandra-unit-examples/.settings
