<configuration scan="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy/MM/dd HH:mm:ss,SSS} [%thread] %-5level %logger{36} - %m%n</pattern>
		</encoder>
	</appender>

	<logger name="org.casasndraunit" level="DEBUG" />
	<logger name="org.apache.cassandra" level="ERROR" />
	<logger name="me.prettyprint" level="ERROR" />
	<logger name="org.springframework" level="INFO" />

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
